.message-box{
  display: flex;
  .btn {
    margin-left: 8px;
  }
}

.message {
  background-color: #fff;
  min-height: 59px;
  .content-container {
    display: inline-block;
    .message-content {
      background-color: #eeeeee;
      padding: 4px 16px;
      border-radius: 20px;
    }
    .author {
      font-size: 0.8rem;
      color: #999;
      margin-left: 10px;
    }
  }
  &.me {
    .content-container {
      float: right;
      .message-content {
        background-color: #007bff;
        color: #fff;
      }
    }
  }
}