html {
  scroll-behavior: smooth;
}

body {
  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none  !important;
}

.chat-room {
  height: 90vh;
  overflow-y: scroll;
  .navbar {
    position: absolute;
    top: 0;
    padding: 5px;
    width: calc(70% - 30px);
    border-bottom: 1px solid #eeeeee;
  }
  .chat-box {
    position: absolute;
    bottom: 0;
    padding: 15px;
    width: calc(70% - 30px);
    margin-left: -15px;
    background-color: #fff;
    border-top: 1px solid #eeeeee;
    input[type="text"] {
      height: 45px;
      font-size: 18px;
      padding: 8px;
    }
    .btn {
      height: 45px;
    }
  }
}

.card.no-outline {
  border: none;
  box-shadow: none;
}

.room-link{
  text-decoration: none;
  color: #000;
  align-items: center;
  .room-card {
    transition: background-color 0.3s ease;
    border-radius: 20px;
  
    &:hover {
      background-color: #eeeeee;
    }
    &.active {
      background-color: black;
      .name {
        color: white;
      }
      .member-count {
        color: #e0e0e0;
      }
    }
    text-decoration: none;
    .name {
      font-weight: bold;
      color: #000;
    }
    .member-count {
      color: #777777;
      font-weight: lighter;
    }
  }
}

.rooms-sidebar {
  border-right: 1px solid #eeeeee;
}